.wrapservices {
    padding: 30px 0;
}

.services {

    .title {
        padding-bottom: 60px;
        font-size: 27px;
        line-height: 30.2px;
    }

    .servicon {

        &::before,
        &::after {
            width: 34.94px;
        }
    }

    .content {
        flex-direction: column;

        .service {
            padding: 0 0 45px 0;

            .text {

                h4 {
                    font-size: 18.96px;
                    line-height: 37.97px;
                }

                p {
                    font-size: 12.98px;
                    letter-spacing: .22px;
                    line-height: 20.88px;
                }
            }
        }
    }
}
