$color-1:#000000;
$color-2:#FFFFFF;
$color-3: #3AB6B2;
$color-4: #323232;
$color-5: #3AB6B2;
$color-6: #6A6A6A;
$color-7: #D3D3D3;
$color-8: #E6E6E6;
$color-9: #000000;
$color-10: #292929;
$color-11: #22222222;
