.slider {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    height: 760px;
    background-image: url(../../../images/slider/back.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    .arrows {
        position: absolute;
        top: 34.5%;
        transform: translateY(100%);

        &.left {
            left: 39px;
        }

        &.right {
            right: 22px;
        }
    }

    .center {
        text-align: center;

        p {

            &:first-of-type {
                position: relative;
                top: -3px;
                left: 19px;
                color: $color-2;
                font-family: 'Raleway ExtraLight', sans-serif;
                font-size: 62px;
                line-height: 74.4px;
            }

            &:last-of-type {
                margin-bottom: 50px;
                color: $color-2;
                font-family: 'Raleway Light', sans-serif;
                font-size: 20px;
                letter-spacing: -.4px;
                line-height: 24px;
            }
        }

        span {
            position: relative;
            top: -11px;
            left: 31px;
            color: $color-2;
            font-family: 'Montserrat', sans-serif;
            font-size: 74px;
            font-weight: 700;
            letter-spacing: -.4px;
            line-height: 88.8px;
        }
    }

    button {
        position: relative;
        top: -15px;
        left: 20px;
        width: 140px;
        height: 40px;
        border: 1px solid $color-2;
        outline: 3px solid $color-3;
        background-color: $color-3;
        color: $color-2;
        font-family: 'Raleway', sans-serif;
        font-size: 13px;
        font-weight: 900;
        line-height: 34px;
    }
}
