$color-4: #323232;
$color-5: #3AB6B2;
$color-6: #6A6A6A;
$color-7: #D3D3D3;
$color-8: #E6E6E6;

.wrapaboutus {
    display: flex;
    justify-content: center;
    width: 100%;
    max-height: 815px;
    padding: 120px 0;
}

.aboutus {

    .title {
        padding-bottom: 95px;
        font-family: 'Raleway', sans-serif;
        font-size: 31px;
        font-weight: 600;
        line-height: 34px;
        text-align: center;

        .speak {

            &::before,
            &::after {
                content: '';
                display: inline-block;
                position: relative;
                width: 37px;
                border-top-width: 1px;
                border-top-style: solid;
                color: $color-7;
                vertical-align: middle;
            }
        }

        p {
            color: $color-4;

            span {
                color: $color-5;
            }
        }
    }

    .about {
        display: flex;
        flex-direction: row;

        img {
            margin-right: 95px;
        }

        .text {

            h3 {
                margin-bottom: 25px;
                color: $color-4;
                font-family: 'Raleway', sans-serif;
                font-size: 31px;
                font-weight: 600;
            }

            p {
                max-width: 570px;
                color: $color-6;
                font-family: 'Open Sans', sans-serif;
                font-size: 14px;
            }

            .features {
                display: flex;
                padding-top: 50px;

                .feat {
                    display: flex;
                    flex-direction: column;

                    .feature {
                        display: flex;

                        &:first-of-type {
                            margin-bottom: 55px;
                        }

                        div {
                            max-width: 172px;
                            margin-left: 27px;

                            h4 {
                                margin-bottom: 14px;
                                font-family: 'Raleway', sans-serif;
                                font-size: 18px;
                                line-height: 19px;
                            }

                            p {
                                font-family: 'Open Sans', sans-serif;
                                font-size: 13px;
                                line-height: 22px;
                            }
                        }
                    }

                    &.row1 {
                        margin-right: 45px;

                        .feature:first-of-type {

                            &::before {
                                content: url(/images/about/1.png);
                            }
                        }

                        .feature:last-of-type {

                            &::before {
                                content: url(/images/about/2.png);
                            }
                        }
                    }

                    &.row2 {

                        .feature:first-of-type {

                            &::before {
                                content: url(/images/about/3.png);
                            }
                        }

                        .feature:last-of-type {

                            &::before {
                                content: url(/images/about/4.png);
                            }
                        }
                    }
                }

                button {
                    display: none;
                }
            }
        }
    }
}
