
.aboutus {
    width: 90%;

    .title {
        padding-bottom: 40px;
    }

    .about {
        flex-direction: column;

        img {
            width: 80%;
            margin: 0 auto 50px auto;
        }

        .text {

            h3 {
                padding-bottom: 25px;
                border-bottom: 1px solid $color-8;
            }

            p {
                max-width: none;
            }

            .features {
                flex-direction: column;

                .feat {

                    .feature {
                        display: flex;
                        align-items: center;

                        &:first-of-type {
                            margin-bottom: 10px;
                        }

                        div {
                            max-width: none;
                            margin-left: 16px;

                            h4 {
                                display: none;
                            }

                            p {
                                line-height: 23px;

                                span {
                                    display: block;
                                }
                            }
                        }

                        &::before {
                            content: url(/images/about/check.png) !important;
                        }
                    }

                    &.row1 {
                        margin-right: 0;
                        margin-bottom: 10px;
                    }

                    &.row2 {
                        margin-right: 0;
                        margin-bottom: 30px;

                        .feature:last-of-type {
                            display: none;
                        }
                    }
                }

                button {
                    display: block;
                    width: 144px;
                    height: 44px;
                    border: 1px solid $color-2;
                    background-color: $color-5;
                    color: $color-2;
                    font-size: 13px;
                    font-weight: 900;
                    line-height: 34px;
                }
            }
        }
    }
}
